* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive, sans-serif;
}

canvas {
    background: #eee;
    display: block;
    margin: 30px auto 0;
}

h1 {
    margin: 10px 0 0;
    text-align: center;
    color: #333;
}

#rules {
    width: 1000px;
    height: 500px;
    margin-top: 30px;
    padding: 2rem;
    background: linear-gradient(#000328, #082055);
    color: #FFF;
    font-size: 1.25rem;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    text-align: center;
}

#start {
    font-size: 1rem;
    background: #cad0ff;
    color: #000;
    padding: .75rem 1rem;
    border: none;
    outline: none;
    margin: 10px 0;
}

#rules div:last-of-type {
    text-align: left;
}

p {
    font-size: 17px;
    margin: 7px 0;
}

#para {
    margin: 0 0 15px;
    font-size: 24px;
}
